
:root {
    --background-color-body: #f7f1f8;
    --background-color-header: #fff;
    --color-header: #5743c8;
    --text-color: #000;
}

.dark-theme {
    --background-color-header: #353535;
    --background-color-body: #1f1f1f;
    --color-header: #f7f7f7;
    --text-color: #fff;
}

#geochart path {
    stroke: #000000;
    stroke-width: 1;
}

.title-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-nav div {
    padding: 10px;
}

.title-nav h2 {
    font-size: 3.5rem;
    padding: 10px;
}

.title-nav p {
    padding: 30px;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

@media (max-width: 768px) {
    .title-nav h2 {
        font-size: 1.5rem;
        padding: 5px;
    }

    .title-nav p {
        font-size: 14px;
        margin: 5px 0;
        padding: 5px;
    }
}

.container {
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

#geochart {
    position: relative;
    width: 100%;
    height: 800px;
    border: none;
}

.popup {
    position: absolute;
    background: var(--background-color-header);
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1000;
    display: none;
    border-radius: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 300px;
}

@media (max-width: 768px) {
    #geochart {
        height: 400px;
    }

    .popup {
        max-width: 200px;
        font-size: 12px;
    }

    .popup h3 {
        font-size: 14px;
        margin: 5px 0;
    }

    .popup p {
        font-size: 12px;
        margin: 5px 0;
    }
}

.map-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.chart_div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: baseline;
    font-size: 2em;
    gap: 50px;
    width: inherit;
}

.chart_div button {
    padding: 8px 15px;
    font-size: .5em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #ccc;
    color: #666666;
    transition: background-color 0.3s ease;
}


#data-list h3 {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}


.tooltip-container {
  position: relative; /* Essential for positioning the tooltip text */
  display: inline-block; /* Ensures the container only takes up necessary width */
  cursor: pointer; /* Indicates interactivity */
}

.tooltip-text {
  visibility: hidden; /* Hidden by default */
  background-color: #333;
  font-size: 10px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1; /* Ensures the tooltip appears above other content */
  bottom: 125%; /* Positions the tooltip above the container */
  left: 50%;
  margin-left: -60px; /* Centers the tooltip horizontally */
  opacity: 0;
  transition: opacity 0.3s; /* Smooth fade-in effect */
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
    #geochart {
        height: 38vh;
    }

    .map-content {
        padding: 10px;
    }

    .chart_div {
        font-size: 1em;
        gap: 10px;
    }
}