
:root {
    --background-color-body: #f7f1f8;
    --background-color-header: #fff;
    --color-header: #5743c8;
    --text-color: #000;
}

.dark-theme {
    --background-color-header: #353535;
    --background-color-body: #1f1f1f;
    --color-header: #f7f7f7;
    --text-color: #fff;
}


.container {
    margin: 0;
    padding: 30px;
}

.frame-div {
    color: var(--text-color);
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
    padding: 8px;
    background: var(--background-color-header);
    border: 1px solid #ddd;
}

.frame-div table {
    min-width: 600px;
    width: 100%;
    border-collapse: collapse;
}

.frame-div th,
.frame-div td {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-align: left;
    background: var(--background-color-body);
}

.input-header {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 35px;
}

li {
    list-style: none;
}

.row {
    overflow-x: scroll;
}

.container h2 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.container h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.btn-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn-group button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f3c750;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#des_stat_toggle_popup {
    position: absolute;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color-header);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* max-height: 80vh; */
    overflow-y: auto;
    width: 50%;
    /* max-width: 800px; */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #604eb1;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
}

#chart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    max-height: 80vh;
}


.overlay {
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 999;
}

#country_stat-div {
    display: none;
}