<!-- templates  -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title-section">{% block title %} {% endblock %} - International Cancer Patient Coalition (ICPC)</title>
    <link rel="stylesheet" href="{% static 'admin/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script type="text/javascript" src="{% static 'admin/theme-toggle.js' %}"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'admin/img/ICPClogo.jpg' %}" alt="ICPC Logo">
            <span>ICPC</span>
            <span class="subtitle">International Cancer Patient Coalition</span>
        </div>
        <nav>
            <button id="theme-btn"><i class="fa fa-moon-o" style="font-size: 20px;"></i></button>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'datasetView' %}">Data</a>
            <a href="{% url 'apiAccess' %}">API Access</a>
            <a href="https://unite4cancer.com/about-us/">About</a>
            <a href="">Help</a>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="footer-content">
            <div class="logo">
                <img src="{% static 'admin/img/ICPClogo.jpg' %}" alt="ICPC Logo">
                <span>ICPC -</span>
                <span class="subtitle"> - International Cancer Patient Coalition</span>
            </div>
            <div class="links">
                <a href="#">Contact Us</a>
                <a href="https://unite4cancer.com/cookies/">Cookies Policy</a>
                <a href="https://unite4cancer.com/about-us/">About ICPC</a>
            </div>
        </div>
    </footer>
</body>

</html>