<!-- templates  -->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title-section">{% block title %} {% endblock %} - International Cancer Patient Coalition (ICPC)</title>
    <link rel="stylesheet" href="{% static 'admin/css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script type="text/javascript" src="{% static 'admin/theme-toggle.js' %}"></script>
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'admin/img/ICPClogo.jpg' %}" alt="ICPC Logo">
            <span>ICPC</span>
            <span class="subtitle">International Cancer Patient Coalition</span>
        </div>
        <nav>
            <button id="theme-btn"><i class="fa fa-moon-o" style="font-size: 20px;"></i></button>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'datasetView' %}">Data</a>
            <a href="{% url 'apiAccess' %}">API Access</a>
            <a href="https://unite4cancer.com/about-us/">About</a>
            <a href="">Help</a>
        </nav>
    </header>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="footer-content">
            <div class="logo">
                <img src="{% static 'admin/img/icpc_logo_small.webp' %}" alt="ICPC Logo">
                <hr style="margin: 10px;">
                <div class="links">
                    <a href="#">Contact Us</a>
                    <a href="https://unite4cancer.com/cookies/">Cookies Policy</a>
                    <a href="https://unite4cancer.com/about-us/">About ICPC</a>
                </div>
            </div>
            
            <div class="right-footer">
                <div>
                    <p><b style="font-size: 50px;">ICPC</b> <br>international cancer patient coalition</p>
                    <p>Prolaz marije krucifikse kozulić 2/iv<br>
                        HR-51000 Rijeka, Croatia</p>
                </div>
                <div>
                    <p>info@unite4cancer.com</p>
                    <p>+386 (30) 607 281</p>
                    <br>
                    <p>Follow us on social media:</p>
                    <div class="social-media">
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                <!-- <p>&copy; 2024 International Cancer Patient Coalition (ICPC). All rights reserved.</p> -->
            </div>
        </div>
        
    </footer>
</body>

</html>