{% extends 'base.htm' %}

{% block title %}Cancer Data Statistics{% endblock %}

{% load static %}

{% block content %}
<div class="container">
    <h2>Data Statistics</h2>
    <label for="cancerType">Cancer Type:</label>
    <form method="get">
        <select id="cancerType" name="cancerType" onchange="this.form.submit()">
            <option value="lung" {% if request.GET.cancerType == 'lung' %}selected{% endif %}>Lung</option>
            <option value="breast" {% if request.GET.cancerType == 'breast' %}selected{% endif %}>Breast</option>
            <option value="prostate" {% if request.GET.cancerType == 'prostate' %}selected{% endif %}>Prostate</option>
            <option value="gastric" {% if request.GET.cancerType == 'gastric' %}selected{% endif %}>Gastric</option>
            <option value="colorectal" {% if request.GET.cancerType == 'colorectal' %}selected{% endif %}>Colorectal</option>
            <!-- Add other cancer types here -->
        </select>
    </form>

    <div class="frame-div">
        <h3>{{ heading }}</h3>
        {{ table|safe }}
    </div>

</div>

{% endblock %}