{% extends 'base.htm' %}

{% block title %}Cancer Data Statistics{% endblock %}

{% load static %}

{% block content %}
<script src="https://www.gstatic.com/charts/loader.js" type="text/javascript"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div id="overlay" class="overlay"></div>
<link rel="stylesheet" type="text/css" href="{% static 'admin/dataframePage.css' %}">
<div class="container">
    <h2>Data Statistics</h2>
    <div class="input-header">
        <label for="cancerType">Cancer Type:</label>
        <form method="get">
            <select id="cancerType" class="select-field" name="cancerType" onchange="this.form.submit()">
                <option value="lung" {% if request.GET.cancerType == 'lung' %}selected{% endif %}>Lung</option>
                <option value="breast" {% if request.GET.cancerType == 'breast' %}selected{% endif %}>Breast</option>
                <option value="prostate" {% if request.GET.cancerType == 'prostate' %}selected{% endif %}>Prostate
                </option>
                <option value="gastric" {% if request.GET.cancerType == 'gastric' %}selected{% endif %}>Gastric</option>
                <option value="colorectal" {% if request.GET.cancerType == 'colorectal' %}selected{% endif %}>Colorectal
                </option>
                <!-- Add other cancer types here -->
            </select>
        </form>
        <form method="post">
            {% csrf_token %}
            <!-- <input type="submit" value="All" name="tag"> -->
        </form>
    </div>

    <div class="frame-div">
        <h3>
            Descriptive Statistics
            <span class="btn-group">
                <button class="btn btn-primary" onclick="toggle_changeCountryWise()">Country Wise</button>
                <button class="btn btn-primary" onclick="fetchStatJSON('{{ request.GET.cancerType }}')">Download
                    JSON</button>
                <button class="btn btn-primary" onclick="openPopup('popup')">Chart</button>
            </span>
        </h3>
        <span class="stat_pane">
            <div id="data-stat-div">
                {{ des_stat|safe }}
            </div>
            <div id="country_stat-div">
                {{ countryWise_stat|safe }}
            </div>
            <div id="popup" class="popup">
                <button class="close-btn" onclick="closePopup('popup')">X</button>
                <div id="chart-container"></div>
            </div>
        </span>
    </div>
    <div class="frame-div">
        <h3>
            {{ request.GET.cancerType.capitalize|default:"Lung" }} Cancer Data
            <span class="btn-group">
                <button class="btn btn-primary" onclick="fetchDataJSON('{{request.GET.cancerType}}')">Download
                    JSON</button>
                <button class="btn btn-primary">Chart</button>
            </span>
        </h3>
        <span class="stat_pane">
            {{ table|safe }}
            <div id="barPlotPopup"
                style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; border: 1px solid black; padding: 20px; box-shadow: 2px 2px 10px rgba(0,0,0,0.3); display: none; z-index: 2000; width: 600px;">
                <span id="closeBarPlotPopup"
                    style="position: absolute; top: 10px; right: 10px; cursor: pointer; font-size: 20px;">&times;</span>
                <div id="barChart" style="width: 100%; height: 400px;"></div>
            </div>
        </span>
    </div>
    <div class="data-downloads">
        <h3>Download Formatted Data In Tables</h3>

        {% if request.GET.cancerType == 'lung' %}
        <a href="{% static 'Data/LungCancer_All.csv' %}">Download CSV</a>

        {% elif request.GET.cancerType == 'breast' %}
        <a href="{% static 'Data/brstCancer.csv' %}">Download CSV</a>

        {% elif request.GET.cancerType == 'prostate' %}
        <a href="{% static 'Data/ProstateCancer.csv' %}"><i class="fa-solid fa-file-csv"></i>Download CSV</a>
        <a href="{% static 'Data/ProstateCancer.xlsx' %}"><i class="fa-solid fa-file-excel"></i>Download Excel</a>

        {% elif request.GET.cancerType == 'gastric' %}
        <a href="{% static 'Data/GastricCancer.csv' %}"><i class="fa-solid fa-file-csv"></i>Download CSV</a>

        {% elif request.GET.cancerType == 'colorectal' %}
        <a href="{% static 'Data/ColorectalCancer.csv' %}"><i class="fa-solid fa-file-csv"></i>Download CSV</a>
        <a href="{% static 'Data/ColorectalCancer.xlsx' %}"><i class="fa-solid fa-file-excel"></i>Download Excel</a>

        {% else %}
        <i class="fa-solid fa-file-csv"></i>
        <li><a href="{% static 'Data/LungCancer_All.csv' %}">Download CSV</a></li>

        {% endif %}
        <!-- Add other cancer types download links here -->


    </div>

    <script src="{% static 'admin/stat_data_fetch.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script>

        const statLabel = []

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawCharts);

        $(document).ready(function () {
            $('.dataframe').DataTable({
                "paging": true,
                "searching": true,
                "info": true,
                "lengthChange": true,
                "pageLength": 5,

            });
        });

        function toggle_changeCountryWise() {
            const colWise_div = document.getElementById('data-stat-div');
            const countryWise_div = document.getElementById('country_stat-div');
            if(colWise_div.style.display === 'block') {
                colWise_div.style.display = 'none';
                countryWise_div.style.display = 'block';
            } else {
                colWise_div.style.display = 'block';
                countryWise_div.style.display = 'none';
            }
        }


        function drawCharts() {
            var chart_data = JSON.parse('{{ chart_data | safe }}');

            chart_data.forEach((column, index) => {
                console.log(column)

                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Index');
                data.addColumn('number', column.column_name);

                var rows = [];
                for (var i = 0; i < column.data.length; i++) {
                    rows.push([i.toString(), column.data[i]]);
                }
                data.addRows(rows);

                // chart option
                var options = {
                    title: 'Bar Cart for ' + column.column_name,
                    colors: ['#604eb1'],
                    width: 400,
                    height: 300,
                    hAxis: { title: 'Index' },
                    vAxis: { title: column.column_name },
                    legend: { position: 'none' }
                };

                // new element
                var chartDiv = document.createElement('div');
                chartDiv.id = 'chart_div_' + index;
                chartDiv.className = 'chart-div';
                chartDiv.style.width = 'auto';
                chartDiv.style.height = 'auto';
                document.getElementById('chart-container').appendChild(chartDiv);

                var chart = new google.visualization.BarChart(document.getElementById('chart_div_' + index));
                chart.draw(data, options);

            });
        }

    </script>

</div>

{% endblock %}