{% extends 'base.htm' %}

{% block title %}
Cancer Explorer
{% endblock %}

{% load static %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'admin/utility_mains.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'admin/index.css' %}">
<div class="title-nav">
    <h2>Cancer Data Visualizer</h2>
    <p>
        This study will provide us a comprehensive overview of key pillars shaping different cancer care, 
        including specialized infrastructure, treatment accessibility, research funding, early detection, 
        and palliative care.
    </p>
    <div>
        <label for="cancerType">Cancer Type:</label>
        <select id="cancerType" class="select-field" onchange="updateChart()">
            <option value="lung">Lung</option>
            <option value="breast">Breast</option>
            <option value="prostate">Prostate</option>
            <option value="gastric">Gastric</option>
            <option value="colorectal">Colorectal</option>
            <!-- Add other cancer types here -->
        </select>

        <label for="column">Data Features:</label>
        <select id="column" class="select-field" onchange="drawChart()"></select>
    </div>

    <div class="glass-content">
        <div id="data-list">
            <!-- Text descriptional content goes here -->
        </div>
    </div>
</div>

<section class="map-content">
    
    <div class="chart_div">
        <button id="toggle-rowdetail"><i class="fa fa-bar-chart"></i></button>
        <div class="tooltip-container">
            <button id="downloadbtn"><i class="fa fa-download"></i></button>
            <legend class="tooltip-text">Download this map</legend>
        </div>
        <button><i class='fa fa-globe'></i></button>
        <div class="tooltip-container">
            <button id="infoBtn"><i class="fa fa-info"></i></button>
            <legend class="tooltip-text">About the map legend</legend>
        </div>
    </div>
    <div id="geochart" class="chartdiv"></div>

    <div id="country-detail" class="popup">
        <h3>Regional Details</h3>
        <div id="country-info">

        </div>
    </div>
    <div id="feature-detail" class="popup">
        <!-- Feature details content goes here i.e. infrastructure, treatment accessibility, etc.-->
        <h3>Feature Details</h3>
        <div id="feature-info">

        </div>
    </div>
    
    <div id="popup" class="popup"></div>
</section>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    

    document.getElementById('toggle-rowdetail').addEventListener('click', function() {
        const countryDetail = document.getElementById('country-detail');
        const geochart = document.getElementById('geochart');
        if (countryDetail.style.display === 'none' || countryDetail.style.display === '') {
            countryDetail.style.display = 'block';
            geochart.style.filter = 'blur(5px)';
        } else {
            countryDetail.style.display = 'none';
            geochart.style.filter = ''; // Reset background
        }
    })

    document.getElementById('infoBtn').addEventListener('click', function() {
        const countryDetail = document.getElementById('feature-detail');
        const geochart = document.getElementById('geochart');
        if (countryDetail.style.display === 'none' || countryDetail.style.display === '') {
            countryDetail.style.display = 'block';
            geochart.style.filter = 'blur(5px)';
        } else {
            countryDetail.style.display = 'none';
            geochart.style.filter = ''; // Reset background
        }
    });

    document.getElementById('downloadbtn').addEventListener('click', function() {
        const mapContainer = document.getElementById('geochart');

        html2canvas(mapContainer).then(function(canvas) {
            // Create a temporary link element
            const link = document.createElement('a');
            link.download = 'ICPC_GeoData.png'; // Set the desired filename
            link.href = canvas.toDataURL('image/png'); // Get data URL of the canvas as a PNG
            document.body.appendChild(link); // Append to the body (necessary for clicking)
            link.click(); // Programmatically click the link to trigger download
            document.body.removeChild(link); // Remove the temporary link
        });
    });
</script>
<!-- <script src="{% static 'json/test.js' %}" type="text/javascript"></script> -->
{% endblock %}