{% extends 'base.htm' %}

{% block title %}
Cancer Explorer
{% endblock %}

{% load static %}

{% block content %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'admin/utility_mains.js' %}"></script>
<!-- <script type="text/javascript">    
</script> -->
<link rel="stylesheet" type="text/css" href="{% static 'admin/index.css' %}">

<h2>Cancer Data Visualizer</h2>
<label for="cancerType">Cancer Type:</label>
<select id="cancerType" class="select-field" onchange="updateChart()">
    <option value="lung">Lung</option>
    <option value="breast">Breast</option>
    <option value="prostate">Prostate</option>
    <option value="gastric">Gastric</option>
    <option value="colorectal">Colorectal</option>
    <!-- Add other cancer types here -->
</select>

<label for="column">Data Features:</label>
<select id="column" class="select-field" onchange="drawChart()"></select>


<section class="map-content">
    <div class="chart_div">
        <button><i class='fa fa-globe'></i></button>
        <button><i class="fa fa-bar-chart"></i></button>
        <button id="downloadbtn"><i class="fa fa-download"></i></button>
        <button><i class="fa fa-info"></i></button>
    </div>
    <div id="geochart"></div>
    <div id="popup"></div>
</section>





<script>
    document.getElementById('downloadbtn').addEventListener('click', function() {
        const mapContainer = document.getElementById('map-container');

        html2canvas(mapContainer).then(function(canvas) {
            // Create a temporary link element
            const link = document.createElement('a');
            link.download = 'map.png'; // Set the desired filename
            link.href = canvas.toDataURL('image/png'); // Get data URL of the canvas as a PNG
            document.body.appendChild(link); // Append to the body (necessary for clicking)
            link.click(); // Programmatically click the link to trigger download
            document.body.removeChild(link); // Remove the temporary link
        });
    });
</script>
{% endblock %}